# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

venv 
backend/venv
.env
backend/.env

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
*.apk
*.aab
*.ipa

# Logs
logs
*.log

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
Thumbs.db

# Model files
*.h5
*.pkl
*.joblib
*.bin
*.onnx

# Audio files
*.mp3
*.wav
*.ogg 